[package]
name = "cargo-release"
version = "0.12.0-beta.6"
authors = ["Ning Sun <sunng@pm.me>"]
license = "MIT/Apache-2.0"
description = "Cargo subcommand for you to smooth your release process."
keywords = ["cargo"]
categories = ["development-tools::cargo-plugins"]
repository = "https://github.com/sunng87/cargo-release"
readme = "README.md"
edition = "2018"

[dependencies]
cargo_metadata = "0.7"
toml = {version = "0.4", default-features = false}
toml_edit = "0.1"
serde = { version = "1.0", features = ["derive"] }
semver = "0.9.0"
semver-parser = "0.9.0"
quick-error = "1.1.0"
regex = "0.2.1"
termcolor = "0.3.6"
maplit = "0.1.4"
chrono = "0.4"
dirs = "1.0"
boolinator = "2.4"
structopt = {version = "0.2.7", default-features = false}
clap = { version = "2", default-features = false }
clap-cargo = { version = "0.1", features = ["cargo_metadata"] }

[dev-dependencies]
assert_fs = "0.11"
predicates = "1.0"

[badges]
travis-ci = { repository = "sunng87/cargo-release", branch="0.12.0-beta.6" }
